div {
    margin: 1em auto;
}

input[type="text"], textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    border: 1px solid #c7c7c7;
    border-radius: 0.25em;
    padding: 0.5em 1em;
}

.time {
    display: inline-block;
    max-width: 80px;

    input[type="number"] {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #c7c7c7;
        border-radius: 0.25em;
        padding: 0.5em 1em;
    }
}

button {
    border-radius: 0.25em;
    padding: 0.5em 1em;
    background-color: #204ed6;
    border: 1px solid #c7c7c7;
    color: #fff;
}
