<h1>Image Details</h1>
<div *ngIf="image" class="image-wrapper">
    <div class="image-container">
        <img [src]="'/api/image/src/' + image.image_unique_name" [alt]="image.image_alt" [width]="image.image_width" [height]="image.image_height" />
    </div>
    <div class="image-content">
        <div>
            <strong>Image Id</strong><br>
            {{ image.image_id }}
        </div>
        <div>
            <strong>Image Original Name</strong><br>
            {{ image.image_original_name }}
        </div>
        <div *ngIf="cacheSecondsToDHMS">
            <strong>Image Cache</strong><br>
            {{ cacheSecondsToDHMS.days }} {{ cacheSecondsToDHMS.days === 1 ? "Day" : "Days" }}
            {{ cacheSecondsToDHMS.hours }} {{ cacheSecondsToDHMS.hours === 1 ? "Hour" : "Hours" }}
            {{ cacheSecondsToDHMS.minutes }} {{ cacheSecondsToDHMS.minutes === 1 ? "Minute" : "Minutes" }}
            {{ cacheSecondsToDHMS.seconds }} {{ cacheSecondsToDHMS.seconds === 1 ? "Second" : "Seconds" }}
        </div>
        <div>
            <strong>Image Created</strong><br>
            {{ image.image_created | date:medium }}
        </div>
        <div>
            <strong>Image Modified</strong><br>
            {{ image.image_modified | date:medium }}
        </div>
        <div>
            <button type="button" (click)="deleteImage()">Delete</button>
        </div>
    </div>
</div>
