.image-wrapper {
    display: flex;
    align-items: flex-start;

    img {
        max-width: 100%;
        height: auto;
    }
}
.image-container, .image-content {
    padding: 1em;
}
.image-container {
    flex: 0 1 auto;
    width: 180px;
    align-self: stretch;
    text-align: center;
}
.image-content {
    flex: 1 0 auto;

    div {
        &:first-child {
            margin-top: 0;
        }

        margin: 1em auto;
    }
}
button {
    border-radius: 0.25em;
    padding: 0.5em 1em;
    background-color: red;
    border: 1px solid #c7c7c7;
    color: #fff;
}

