site-component {
    background-image: url('/api/image/src/66e419713c9abda763b59612eb9b09b3');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    height: 100vh;
    align-items: center;
}
