site-component {
    background-image: url('http://www.quickstart.dev/api/image/src/a4e0c9c48aefca8d45c8fe5044a27ca0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    height: 100vh;
    align-items: center;
}
