div {
    margin: 1em auto;

    &:first-child {
        margin-top: 0;
    }
}

h2 {
    border-top: 1px solid #5a5a5a;
    padding-top: 1em;
}

button {
    border-radius: 0.25em;
    padding: 0.5em 1em;
    background-color: red;
    border: 1px solid #c7c7c7;
    color: #fff;
}
